<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Junior Software Developer Code Test</title>
  </head>

  <body>
    <h2>Junior Software Developer Code Test</h2>
    <p><a href="/reports">Reports</a></p>
  </body>
</html>
